# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Sonar / Testing
.scannerwork/
coverage.xml
.coverage
htmlcov/

# Proyecto - Archivos de texto (Opcional si quieres subirlos)
enunciado_tarea_8.txt
enunciado.md

# VS Code
.vscode/
